# API 서버 주소
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

# Socket 서버 주소
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000

# API mocking (enabled | disabled)
NEXT_PUBLIC_API_MOCKING=disabled

# Development auth bypass for API mocking (enabled | disabled)
NEXT_PUBLIC_DEV_AUTH_BYPASS=disabled
